<div class="container">
  <div class="row">
    <div class="col-lg-6 col-xs-12">

      <!-- Compose message -->
      <div class="compose">
        <h3>Post message</h3>
        
        <form name="composeForm" method="post" ng-submit="submit()">
          <div class="form-group">
            <input type="text" class="form-control" aria-describedby="recipientHelp" placeholder="Enter recipient" ng-model="message.username" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" aria-describedby="subjectHelp" placeholder="Enter subject" ng-model="message.subject" required>
          </div>
          <textarea class="form-control" rows="5" placeholder="Message..." ng-model="message.content" required></textarea>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <!-- ./col -->

    <!-- User inbox -->
    <div class="col-lg-6 col-xs-12">
      <div class="inbox">
        <h3>Inbox</h3>

        <div class="list-group" ng-show="newsfeed">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="message in messages">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{message.Sender}}</h5>
              <small>{{message.Date | date: "EEE h:m a" }}</small>
            </div>
            <p class="mb-1">{{message.Subject}}</p>
            <small>{{message.Content}}.</small>
          </a>
        </div>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- ./row -->
</div>
<!-- ./container -->