<div class="form-container">
  <div class="form">

    <!-- login/Sign Up form -->
    <form name="loginForm" method="post" ng-submit="submit()" novalidate>

      <!-- Username -->
      <label for="username">Username</label>
      <input type="text" id="username" name="username" ng-model="credentials.username" autofocus required>
      <div class="form-error" ng-show="(loginForm.$submitted || loginForm.username.$dirty) && loginForm.username.$invalid">
        <span ng-show="loginForm.username.$error.required">Username is required</span>
      </div>

      <!-- Submit button -->
      <div class="submit-input">
        <input type="submit" value="Log in">
      </div>

      <!-- Submit feedback -->
      <div class="form-error" ng-show="error">
        <span>Username already exists</span>
      </div>
    </form>
  </div>

 <!-- Register page -->
  <div class="alternative">
    <p>Don't have an account? <a href="/">Register</a></p>
  </div>
</div>