<!-- Header -->
<div class="header"><h1>Qlik Audition Project</h1></div>

<div class="container">
  <div class="row offset-height">
    <div class="col-sm-12 my-auto">

      <!-- Register/Sign Up form -->
      <form class="form mb-3" name="registerForm" ng-class="{submitted:registerForm.$submitted}" method="post" ng-submit="submit()" novalidate>

        <!-- Username -->
        <div class="form-group">
          <input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-model="account.username" autofocus required>
          
          <!-- Username is required -->
          <div class="form-error" ng-show="(registerForm.$submitted || registerForm.username.$dirty) && registerForm.username.$invalid">
            <span ng-show="registerForm.username.$error.required">Username is required</span>
          </div>
        </div>

        <!-- Submit button -->
        <div class="submit-input">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>

        <!-- Submit feedback -->
        <div class="form-error" ng-show="error">
          <span>Username already exists</span>
        </div>
      </form>

      <!-- Login page -->
      <div class="alternative">
        <p>Already have an account? <a href="/login">Log in</a></p>
      </div>

    </div>
    <!-- ./col -->
  </div>
  <!-- ./row -->
</div>
<!-- ./container