<!-- Header --> 
<div class="header"><h1>Qlik Audition Project</h1></div>

<div class="container">   
  <div class="row offset-height">
    <div class="col-sm-12 my-auto"> 
        
      <!-- login/Sign in form -->
      <form class="form my-3" name="loginForm" ng-class="{submitted:loginForm.$submitted}" method="post" ng-submit="submit()" novalidate>

        <!-- Username -->
        <div class="form-group">
          <input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-model="credentials.username" autofocus required>

          <!-- Username is required -->
          <div class="form-error" ng-show="(loginForm.$submitted || loginForm.username.$dirty) && loginForm.username.$invalid">
            <span ng-show="loginForm.username.$error.required">Username is required</span>
          </div>
        </div>

        <!-- Submit button -->
        <div class="submit-input">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>

        <!-- Submit feedback -->
        <div class="form-error" ng-show="error">
          <span>Username is incorrect</span>
        </div>
      </form>

      <!-- Register page -->
      <div class="alternative mb-3">
        <p>Don't have an account? <a href="/">Register</a></p>
      </div>

    </div>
    <!-- ./col -->
  </div>
  <!-- ./row -->
</div>
<!-- ./container -->