.inbox h3, .compose h3 {
	padding-top: 20px;
	padding-bottom: 8px;
	border-bottom: solid black 1px;
	border-color: #cccccc;
}

.compose, .inbox {
	padding-top: 20px;
}

.list-group, .compose form {
	padding-top: 20px;
}

.compose button {
	margin-top: 8px;
}

.list-group button {
	display: block;
	margin: 0 auto;
}