.inbox h3, .compose h3 {
	padding-top: 20px;
	padding-bottom: 8px;
	border-bottom: solid black 1px;
	border-color: #cccccc;
}

.compose, .inbox,
.list-group, .compose form {
	padding-top: 20px;
}


/* Newsfeed */
.list-group h5 {
	color: #3a4045;
}

.list-group small {
	font-size: 15px;
	line-height: 21px;
}

.palindrome {
	font-size: 14px;
	color: orange;
	display: block;
}

.message-actions {
	text-align: center;
	padding-top: 8px;
}