.inbox h3, .compose h3 {
	padding-top: 20px;
	padding-bottom: 8px;
	border-bottom: solid black 1px;
	border-color: #cccccc;
}

.compose, .inbox,
.list-group, .compose form {
	padding-top: 20px;
}

.inbox {
	padding-bottom: 20px;
}

.compose button {
	margin-top: 8px;
}

.message-actions {
	text-align: center;
	padding-top: 8px;
}