.header {
    width: 100%;
    background: #007bff;
    color: white;
    text-align: center;
    padding: 15px;
    border-bottom: solid #d8dee2 1px;
}

.header h1 {
    font-size: 24px;
}

/* 255px offset row height for header and footer*/
.offset-height {
    height: calc(100vh - 255px);
}

@media (max-width: 768px) {
    .offset-height {
        height: calc(100vh - 365px);
    }
}

/* Forms */
form.form, .alternative {
    max-width: 500px;
    margin: 0 auto;
}

form.form {
    width: 100%;
    background: white;
    padding: 20px 50px;
    border: #d8dee2 2px solid;
}


/* Alternate pages */
.alternative {
    width: 100%;
    background: white;
    padding: 15px;
    border: #d8dee2 1px solid;
    text-align: center;
}

.alternative p {
    margin: 0;
}


/* Form validation */
 .form-error {
    padding-top: 5px;
    color: #ff3333;
    font-size: 14px;
 }

form.submitted .ng-invalid
{
    border-color: red;
}