html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F9F9F9;
}

p, a {
    font-size: 16px;
}

p {
    color: #555555;
}

h1, h2, h3 {
    text-align: center;
}

.wrap {
    min-height: 100%;
    position: relative;
}

#main {
    padding-bottom: 300px;
    height: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
    padding-top: 20px;
    background: #EDEFF1;
}

/* Decrease footer height on screen widths < 768px.*/
@media (min-width: 768px) {
    #main {
        padding-bottom: 190px;
    }

    #footer {
        height: 190px;
    }
}